
<!DOCTYPE html>
<html>

<head>
    <title>
        Forgot Password
    </title>
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>

	<h2><center>Forgot Password</center></h2>

<hr>
<div class="item-form">
    <form id="myForm" action="#">
        
        <div>
            <label for="email">Enter Your Email</label>
            <input type="text"  name="email" id="email" required>
        </div>
       
        <div  class="form-action-buttons">
            <center>
            <button id="submit" type="button">Submit</button>
           </center>
        </div>
        <div  id="message">
            
        </div>
    </form>
</div>
<br/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="../public/forgotPassword.js"></script>
</body>
</html>